

/*-------------------------------------------*/
/***** START BxSlider Carousel ******/
/*-------------------------------------------*/
/** BxSlider v4.1.2 - Fully loaded, responsive content slider 
*
* http://bxslider.com / Note: the 'rahisified' branch/version
*   
*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.feature-carousel-tabpanel img {
  padding:0;
  margin:0;
  box-shadow: none !important;
  border-radius:0 !important;
  border:none !important;
}

.bxslider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

.bx-wrapper .bx-loading {
  min-height: 50px;
  /*background: url(images/bx_loader.gif) center center no-repeat #fff;*/
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80,80,80,0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
/*-------------------------------------------*/
/***** END BxSlider Carousel ******/
/*-------------------------------------------*/


/*-------------------------------------------*/
/***** BEGIN top carousel two-tier css *****/
/*-------------------------------------------*/
.feature-carousel-tabpanel {
  margin-bottom: 1.5rem;
  margin-top: 0.8rem;
}

.feature-slide .carousel-header {
  margin-top: 0;
  max-width:100%; 
}

.feature-slide .carousel-header span {
  font-size: 0.93em;
  margin-left: 0.5rem;
}

.feature-slide-detail {
  padding: 1.56em 2em;
  margin-bottom: 0.25em;
  background: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.175);
  border-collapse: separate;
}

.feature-slide-detail-content {
  padding-left: 0.25rem !important;
}

.feature-slide-title {
  font-weight: normal;
  margin: 0 0 0.8rem;
  font-size: 1.32em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-slide-title a {
  color: #404040;
  border: none;
}

.feature-slide-title a span::before {
  color: #555;
  content: '\e62c';
}

.feature-slide-title-byline {
  font-size: 1em;
  display: block;
  color: #777;
  font-style: italic;
  margin: 1rem 0 0.2rem;
}

.feature-slide-detail-content {
  margin-bottom: 1rem;
}

.feature-slide-description {
  font-size: 0.93em;
  margin-bottom: 0;
  overflow: hidden;
}

.feature-slide-detail-content .go-to-link a {
  font-size: 0.82em;
  font-weight: bold;
}

.feature-slide-detail-content .go-to-link a:hover,.carousel-main-content .go-to-link a:active {
  color: rgb(207, 47, 30);
}

/*--- top-tier carousel-feature-detail right-side teaser boxes ---*/
.carousel-related-resource-group {
  padding-right: 0 !important;
  margin-left: 0;
}

.carousel-resource-item {
  padding-left: 0.25rem !important;
}

.carousel-resource-item span {
  display: block;
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

.carousel-resource-item img {
  background: #eee;
  max-width: 100%;
  height: auto;
 /*border:3px solid #fff;*/;
}

.carousel-resource-item a:hover img {
 /*border:3px solid #32ccca;*/;
}

.carousel-resource-item h6 {
  color: #888;
  font-size: 0.62em;
  margin: 0.4rem 0 0.4rem 0.25rem;
  font-family: 'droidserif',palatino,'Palatino Linotype',georgia,serif;
}

.carousel-resource-item h5 {
  color: #606060;
  font-size: 0.88em;
  margin: 0.3rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-resource-item p {
  color: #555;
  font-size: 0.88em;
  margin-top: 0.5rem;
}
/* .carousel-resource-item p, .carousel-resource-item h6, .carousel-resource-item h5{ padding-left:0.3rem;} */
.carousel-resource-item a:hover h6,.carousel-resource-item a:active h6,
.carousel-resource-item a:hover p,.carousel-resource-item a:active p {
  color: #000;
}

.carousel-resource-item a:hover h5,.carousel-resource-item a:active h5 {
  color: rgb(207, 47, 30);
}

.carousel-resource-item h5::before {
  content: '\e62c';
  color: #555;
  font-size: 1em;
  font-family: 'shanticon';
  position: relative;
  top: 0.1rem;
  left: -0.1rem;
}

/*--- top-tier horizontal tabs---*/
.feature-detail-assets {
  margin-top: 0.5rem;
}

.feature-detail-assets div {
  border-top: 1px solid #ccc;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.feature-detail-assets a {
  color: #555;
  display: block;
  font-size: 0.82em;
  text-align: center;
  white-space: nowrap;
  background: #f3f3f3 !important;
  line-height: 3.75em;
  height: 3.75em;
  font-family: 'museo-sans-700',helvetica,arial,sans-serif;
  font-weight: 700;
  font-weight: bold;
}

.feature-detail-assets a:hover,
.feature-detail-assets a:active {
  color: #444;
  border-bottom: 0 !important;
  background: #e0e0e0 !important;
  text-decoration: none;
  -webkit-transition: background 500ms ease 0s;
  transition: background 500ms ease 0s;
}

.feature-detail-assets div:first-child {
  border-top: none !important;
}

.feature-detail-assets strong {
  font-size: 1.5em;
  position: relative;
  top: 0.1rem;
  font-weight: normal;
  font-family: 'droidserif',palatino,'Palatino Linotype',georgia,serif;
}

.feature-detail-assets .icon {
  font-size: 1.75rem;
  position: relative;
  top: 0.35rem;
}

.feature-detail-assets .icon::before {
  margin-right: 1rem;
}

/*--- lower-tier of 2-tier carousel ---*/
.carousel-feature-slides {
  margin-top: 1rem !important;
}

.carousel-feature-slides li div a {
  font-family: 'shanticon';
  border: 5px solid transparent;
  position: relative;
  display: block;
  margin: 1rem 1rem 1rem 0;
  -webkit-transition: border 500ms ease 0s;
  transition: border 500ms ease 0s;
}

.carousel-feature-slides li div a:last-child {
  margin-right: 0;
}

.carousel-feature-slides li div a:hover,
.carousel-feature-slides li div a:active,
.carousel-feature-slides li.active div a {
  border-color: #32ccca;
}

.carousel-feature-slides li.active div a::before {
  color: #32ccca;
  font-size: 2rem;
  content: '\e645';
  position: absolute;
  left: 50%;
  top: -2.2rem;
  margin-left: -1rem;
}

.carousel-feature-slides p {
  background: #fff;
  color: #555;
  font-size: 0.75em;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  overflow: hidden;
  font-family:'Helvetica Neue',helvetica,arial,sans-serif;
}

.carousel-feature-slides p span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.carousel-feature-slides p strong {
  margin-right: 0.4rem;
  font-weight: normal;
  font-weight:500;
}

.bx-wrapper .bx-viewport {
  height: auto !important;
 /*position:relative;*/
  left: 0 !important;
  box-shadow: none !important;
  background: transparent !important;
  border: none !important;
}

.bx-wrapper .bx-pager {
  position: absolute;
  bottom: -2.5rem;
}
/*--- carousel control buttons ---*/
.bx-controls-direction a {
  color: #eee;
  font-size: 0 !important;
  text-indent: 0 !important;
  display: block;
  margin-top: -2rem !important;
  position: relative;
  top: 50%;
  z-index: 99 !important;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #32ccca !important;
  width: 5rem !important;
  height: 5rem !important;
  background-image: none;
  text-shadow: none;
  text-align: center;
  border-radius: 0;
  border: none;
}

.bx-controls-direction a:hover,
.bx-controls-direction a:active {
  color: #fff;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.bx-controls-direction a.bx-prev {
  margin-left: -3rem;
}

.bx-controls-direction a.bx-next {
  margin-right: -3rem;
}

.bx-controls-direction a::before {
  font-family: 'shanticon';
  font-size: 3.5rem !important;
}

.bx-controls-direction a.bx-prev::before {
  content: '\e641';
  text-shadow: -3px 0 7px rgba(0,0,0, 0.10) !important;
}

.bx-controls-direction a.bx-next::before {
  content: '\e642';
  text-shadow: 3px 0 7px rgba(0,0,0, 0.10) !important;
}

.feature-slide.tab-pane {
  display: none !important;
  margin-bottom: -0.4rem;
}

.feature-slide.tab-pane.active {
  display: block !important;
}




.page-subjects .carousel-header a {
  display: none;
}




/*----- BEGIN small carousel slides -----*/
/* .carousel-feature-slides.bx-small-slides li span{ height:75%;}
.carousel-feature-slides.bx-small-slides img{ height:auto;}
.carousel-feature-slides.bx-small-slides p{ height:25%;} */
/*----- END small carousel slides -----*/


@media (min-width:400px) {
  .feature-slide .carousel-header span {
    font-size: 1.06em;
  }

  .feature-slide-title {
    font-size: 1.44em;
  }

  .carousel-resource-item span {
    height: 28rem;
  }
}

@media (max-width:479px) {
  .feature-slide .carousel-header span {
    margin-left: 2rem;
  }

  .carousel-related-resource-group .col-xs-6 {
    width: 100%;
  }

  .carousel-resource-item p {
    border-bottom: 2px solid #ddd;
    padding: 0 0 0.75rem;
  }

  .carousel-resource-item p, .carousel-resource-item h6, .carousel-resource-item h5 {
    padding-left: 0.5rem;
  }

  .carousel-resource-item img {
    margin-top: 0.7rem;
  }
}

@media (min-width:480px) {
  .carousel-resource-item span {
    height: 17rem;
  }
}

@media (min-width:640px) {
  .carousel-resource-item span {
    height: 24rem;
  }
}

@media (max-width:767px) {
  .feature-slide-detail > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width:768px) {
  .feature-slide-detail {
    max-height: 28rem;
 /* max-height:33rem; - add/change height for including assets tabs */
  }

  .carousel-resource-item span {
    height: 12rem;
  }

  .carousel-resource-item p {
    max-height: 8rem;
    overflow: hidden;
  }

  .carousel-related-resource-group {
    padding-left: 2.5rem;
  }

  .carousel-feature-slides p {
    font-size: 0.82em;
  }

  .feature-slide-title {
    font-size: 1.56em;
  }

  .feature-slide-description {
    font-size: 0.93em;
    max-height: 17.5rem;
    margin-bottom: 0.4rem;
  }

  .feature-slide-detail-content .go-to-link a {
    font-size: 0.93em;
    font-weight: normal;
    margin-bottom: 0;
  }

  .feature-slide-detail .feature-detail-assets div {
    border-top: none !important;
    border-right: 1px solid #ccc;
  }

  .feature-slide-detail .feature-detail-assets div:last-child {
    border-right: none !important;
  }
}

@media (min-width:850px) {
  .carousel-feature-slides p {
    font-size: 0.88em;
  }
}

@media (min-width:992px) {
  .carousel-resource-item p {
    max-height: 8rem;
  }

  .feature-slide-title {
    font-size: 1.56em;
  }
}

@media (min-width:1100px) {
  .feature-slide-description {
    font-size: 1em;
    max-height: 16rem;
  }
}

@media (min-width:1200px) {
  .feature-slide-description {
    font-size: 1.06em;
  }

  .carousel-resource-item span {
    height: 10rem;
  }

  .carousel-resource-item p {
    max-height: 7rem;
  }
}
/***** END Carousel *****/

