/**
* Mandala KMAPS Places-Subjects - Development
* 
* version 1.x - shanti-main-kmaps.css
* -------------------------------------------------
* University of Virginia / SHANTI MANDALA / KMAPS
* -------------------------------------------------
* 
*/

/* BEGIN sub-theme (Places) colors */
.page-places .titlearea,
.page-places .carousel-control,
.page-places .breadcrumb .icon,
.page-places .fixed-action-button a,
.page-places .bx-controls-direction a,
.page-places .nav-tabs.nav-justified>li.active>a,
.page-places .nav-tabs.nav-justified>li.active>a:focus,
.page-places .nav-tabs.nav-justified>li.active>a:hover {
  background: #4ca6fb !important;
}

.page-places .navbar-brand:hover .site-slogan,
.page-places .view-section .fancytree-container .glyphicon,
.page-places .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.page-places .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-places .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-places .carousel-feature-slides li.active div a::before,
.page-places .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-places .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark {
  color: #4ca6fb !important;
}

.page-places .carousel-feature-slides li div a:hover,
.page-places .carousel-feature-slides li div a:active,
.page-places .carousel-feature-slides li.active div a,
.page-places #tab-main .each-photo a.thumbnail:hover,
.page-places #tab-main .each-text a.thumbnail:hover {
  border-color: #479beb !important;
}

.page-places .input-section .toggle-link,
.page-places .input-section .toggle-link:hover,
.page-places .input-section .toggle-link .icon::before,
.page-places .input-section .toggle-link:hover .icon::before,
.page-places .input-section .selectpicker .caret::before,
.page-places .view-section .nav-tabs>li.active>a, 
.page-places .view-section .nav-tabs>li.active>a:hover, 
.page-places .view-section .nav-tabs>li.active>a:active {
  color: #418ed7 !important;
}

.page-places #sidebar-first .nav-pills li.active {
  border-color: #418ed7 !important;
}

.page-places .view-section .nav-tabs>li.active,
.page-places .nav-tabs.nav-justified>li.active{
  border-top-color: #4ca6fb !important;
}

.page-places ::-moz-selection {
  background: #fb8c4c !important;
}

.page-places ::selection{
  background: #fb8c4c !important;
}

@media screen and (min-width: 768px) {

  .nav-tabs.nav-justified>li.active::before{  
    color: #4ca6fb !important;
  }
}


/* BEGIN sub-theme (Subjects) colors */
.page-subjects .titlearea,
.page-subjects .carousel-control,
.page-subjects .breadcrumb .icon,
.page-subjects .fixed-action-button a,
.page-subjects .bx-controls-direction a,
.page-subjects .nav-tabs.nav-justified>li.active>a,
.page-subjects .nav-tabs.nav-justified>li.active>a:focus,
.page-subjects .nav-tabs.nav-justified>li.active>a:hover {
  background: #dc3c47 !important;
}

.page-subjects .navbar-brand:hover .site-slogan,
.page-subjects .view-section .fancytree-container .glyphicon,
.page-subjects .view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.page-subjects .view-section .fancytree-container .fancytree-node:active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-active > .glyphicon,
.page-subjects .view-section .fancytree-node.fancytree-selected > .glyphicon,
.page-subjects .carousel-feature-slides li.active div a::before,
.page-subjects .input-section a.toggle-link,
.page-subjects .input-section a.toggle-link:hover,
.page-subjects .input-section .toggle-link .icon::before,
.page-subjects .input-section .toggle-link:hover .icon::before,
.page-subjects .input-section .selectpicker .caret::before,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.page-subjects .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.page-subjects .view-section .nav-tabs>li.active>a, 
.page-subjects .view-section .nav-tabs>li.active>a:hover, 
.page-subjects .view-section .nav-tabs>li.active>a:active {
  color: #dc3c47 !important;
}

.page-subjects .carousel-feature-slides li div a:hover,
.page-subjects .carousel-feature-slides li div a:active,
.page-subjects .carousel-feature-slides li.active div a,
.page-subjects #tab-main .each-photo a.thumbnail:hover,
.page-subjects #tab-main .each-text a.thumbnail:hover {
  border-color: #dc3c47 !important;
}

.page-subjects #sidebar-first .nav-pills li.active {
  border-color: #dc3c47 !important;
}

.page-subjects .view-section .nav-tabs>li.active,
.page-subjects .nav-tabs.nav-justified>li.active{
  border-top-color: #dc3c47 !important;
}

.page-subjects ::-moz-selection {
  background: #47dc3c!important;
}

.page-subjects ::selection {
  background: #47dc3c !important;
}

.page-places .navbar-brand:active .site-slogan,
.page-subjects .navbar-brand:active .site-slogan {
  color: #444 !important;
}

@media screen and (min-width: 768px) {

  .nav-tabs.nav-justified>li.active::before{  
    color: #dc3c47 !important;
  }
}
/* ------------------
* END colors 
*/

/* this rmeoves the 2nd breadcrumb  (Earth) */
.kmaps.page-places .breadcrumb li:nth-of-type(2){ display:none !important;}


/**
* 
* END - KMAPS/css/shanti-main-kmaps.css
*
*/
