
/* General Containers */
.main-wrapper .container {
    width: 100%;
}

/** Header **/
    
.navbar-header .navbar-brand img { 
    display: inline-block; 
    max-width:100%;
    height:auto;
    margin-top: 0px;
}

.navbar-header span.site-title {
    display: inline-block;
    padding-top: 10px;
}

/*** Banner ***/

.titlearea, .carousel-control, .breadcrumb .icon, .nav-tabs.nav-justified>li.active>a, .nav-tabs.nav-justified>li.active>a:focus, .nav-tabs.nav-justified>li.active>a:hover {
    background-color: #74c9e8 !important;
}

.main-content .banner {
    padding-left: 12px;
}

.page-title {
    padding-top: 12px;
    overflow: visible;
}

.page-title .page-title-text div {
    display: inline;
}

.page-title .icon2 {
    display: inline-block;
    vertical-align: bottom;
}

.banner nav.breadwrap {
    margin-top: 0.7rem;    
}


/** Images **/

.icon2 {
    padding-right: 8px;
}


